@using Web.Components
@inherits LayoutComponentBase

<div>
    <Navigation />
    <main>
        <div class="flex flex-row">
            <Toolbar />
            <Explorer />
        </div>
        <article>
            @Body
        </article>
    </main>
</div>
