@using Web.Components
@inherits LayoutComponentBase

<div>
    <Navigation />
    <main>
        <div class="flex flex-row">
            <Toolbar />
            <Explorer />
            <Viewer />
            <Properties />
        </div>
    </main>
</div>
