@using Application;
@using Domain;
@inject INoteRepository NoteRepository

<aside class="bg-zinc-700 h-screen w-72 pl-10">
    <p class="pt-2">Explorer</p>
    <ul class="pt-4">
        @foreach (var note in Notes)
        {
            <li>@note.Name</li>
        }
    </ul>
</aside>

@code {
    public List<Note> Notes = new();

    protected override async Task OnInitializedAsync()
    {
        Notes = (await NoteRepository.GetNotes()).ToList();
    }
} 