@using Domain;
@inject GatewayClient GatewayClient
@inject ILogger<Explorer> Logger;

<aside class="bg-zinc-700 h-screen w-72 pl-10">
    <p class="pt-2">Explorer</p>
    <ul class="pt-4">
        @foreach (var note in Notes)
        {
            <li>@note.Name</li>
        }
    </ul>
</aside>

@code {
    public List<Note> Notes = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await GatewayClient.GetNote.ExecuteAsync();
            Notes.Add(new Note
                {
                    Description = result?.Data?.Note?.Description,
                    Name = result?.Data?.Note?.Name
                });
        }
        catch (Exception e)
        {
            Logger.LogError("Unable to retrieve notes", e);
        }
    }
} 