<nav class="h-16 bg-sky-700 min-h-fit flex flex-row items-center justify-between">
    <div class="h-full">
        <a href="/">
            <img src="img/logo-no-background.png"
                 alt="Snippr"
                 class="h-full px-4" />
        </a>
    </div>
    <div class="h-8 order-last">
        <a href="#">
            <img src="img/profile.png" alt="Profile" class="h-8 pr-4" />
        </a>
    </div>
</nav>