<nav class="h-screen w-20 bg-sky-700 min-h-fit flex flex-col items-center pt-6">
    <div>
        <a href="/">
            <img src="img/explorer.png" alt="Explorer" class="h-10 w-10" />
        </a>
    </div>
</nav>